.panel.panel-default
  .panel-heading
    立德电子模具需求申请表
  .panel-body{style:'padding-bottom: 0px;'}
    = form_tag(create_imes_d238hs_path, method: 'get', class: 'form-horizontal', id:'form_id') do
      .form-group
        .col-xs-12
          = text_field_tag :barcode, nil,placeholder: t('attributes.barcode'), class: 'form-control', value:'', id: 'barcode'
